@media (min-width:0px) and (max-width: 980px) {
    table {
        width: 90vw;
        height: 90vw;
    }
}

@media (min-width:981px) {
    table {
        width: 40vw;
        height: 40vw;
    }
}

body {
    margin: 0;
    display: grid;
    place-items: center;
}

#info {
    margin: 2vw;
    font-size: 2vw;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #797878;
    background-color: #f4d76d;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
}

/*提示容器,居右*/
#toast {
    position: fixed;
    left: 20px;
    top: 20px;
}

/*消子提示*/
.alert {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.alert-black {
    color: black;
}

.alert-white {
    background-color: #000000;
    color: white;
}