@media (min-width:0px) and (max-width: 980px) {
    table {
        width: 90vw;
        height: 90vw;
    }
}

@media (min-width:981px) {
    table {
        width: 40vw;
        height: 40vw;
    }
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color:#65CB65;
}

#info {
    margin: 2vw;
    font-size: 3vh;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #6f6f6f;
    background-color: #ffda62;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
}

/*提示容器,居右*/
#toast {
    position: fixed;
    left: 20px;
    top: 20px;
}

/*消子提示*/
.alert {
    padding: 10px;
    font-size: 3vh;
    margin-top: 10px;
    background-color: rgba(205, 205, 205, 0.2);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.6);
}